{% extends 'home/base.html'%}

{% block content %}
<h1>{{title}}</h1>
<p>Красивые и практичные сантехнические приборы делают нашу жизнь более удобной.

Мы производим все виды работ, чтобы ванны, унитазы, душевые кабины, краны служили долго и имели хороший внешний вид.

Мы располагаем штатом опытных специалистов, которые быстро и качественно выполнят диагностику сантехники и устранят её поломки.

Быстрый выезд сантехника на дом поможет избежать порчи имущества и неприятностей с соседями.

Квалифицированные мастера также установят сантехническое оборудование, произведут разводку труб водоснабжения, смонтируют отопительную систему, подключат бытовую технику.


{% endblock  %}