{% extends 'home/base.html'%}

{% block content %}

<h1>{{p.title}}</h1>

<h1>Монтаж систем отопления и водоснабжения </h1>

<ul class="list-articles">
	{% for p in post %}
{% if p.photo %}
	<p> <img class="img-article-left thunb" src="{{p.photo.url}}"></p>
{% endif %}

			<li><h2>{{p.title}}</h2>

	{% autoescape off %}
	{{p.description|linebreaks|truncatewords:8}}
	{% endautoescape %}

			<div class="clear"></div>
			<p class="link-read-post"><a href="{{p.get_absolute_url}}">Подробнее...</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
